body{
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

aside {
    width: 200px;
    height: 100vh;
    background-color: red;
    margin-left: -150px;
    transition : 0.7s;
}

aside.active {
    margin-left: 0;
    
}