

input[type="checkbox"]:checked + #heart {
    background-color: red;
}

input[type="checkbox"] {
    display: none;
}

#heart {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;   
}
