body {
    display: flex;
    place-content: center;
}
div {
    box-sizing: border-box;
}

#outer {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1.5fr 1fr 5fr 2.5fr;
    grid-template-columns: 1fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 6.5fr 1.5fr;
    place-items: center;
}

.main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 6.5fr 2fr;
    place-items: center;
}

#search-main {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: 0.5px solid lightgray;
}

#search-main:focus {
    border: 1px solid rgb(0, green, blue);
}

input:focus {
    outline: none;
}



/* 아껴둘것 */
#search-main {
    padding-left: 40px;
    width: 1fr;
    height: 1fr;
    display: grid;
    align-content: center;
    grid-row: span 3;
    background-color: rgb(21, 21, 21);
    color: azure;
}

#search-window {
    display: flex;
    justify-content: center;
    /* display: grid; */
    width: 100%;
    height: 100%;
}

#search-in {
    width: 80%;
    height: 40px;
    border: 3px solid #b52020;
    border-radius: 5px;
    background-color: rgb(21, 21, 21);
    color: azure;
    font-size: 20px;
}

#search-in:focus {
    border: 3px solid #b52020;
    scale: 110%;
    background-color: azure;
    color: black;
}
input:focus {
    outline: none;
}

#search-bt {
    margin-left: 10px;
    margin-bottom: px;
    width: 25%;
    height: 30px;
    border: 3px solid #b52020;
    border-radius: 40px;
    background-color: rgb(21, 21, 21);
    color: azure;
}

#search-bt:active {
    border: 3px solid #b52020;
    background-color: red;
}
