body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer {
    width: 800px;
    height: 800px;
    border: 1px solid gray;
}

div {
    box-sizing: border-box;
}

#header, #menu, #main, #footer-menu, #footer {
    border: 1px solid gray;
}

#header {
    height: 20%;
    display: flex;
    align-items: stretch;
}

.aside-left {
    border: 1px solid gray;
    width: 25%;
}

#header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.section {
    padding-bottom: 15px;
    border: 1px solid gray;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .section > div {

} */

.section-sc {
    padding-left: 15px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid gainsboro;
}

.section-sc:focus {
    border: 2px solid rgb(111, 0, 0)
}

input:focus {
    outline: none;
}

.section-scb {
    margin: 0px;
    padding: 3px;
    width: 100px;
    height: 30px;
    border: 2px solid rgb(111, 0, 0);
    border-radius: 20px;
    background-color: white;
    color: rgb(111, 0, 0);
    font-weight: bolder;
}

.section-scb:hover {
    background-color: rgb(111, 0, 0);
    color: white;
}

.aside-right {
    border: 1px solid gray;
    width: 20%;
}

#menu {
    height: 5%;
    display: flex;
    align-items: stretch;
}


#main {
    height: 55%;
    display: flex;
    align-items: stretch;
}

#main > div {
    border: 1px solid gray;
}

#main > div:nth-child(1) {
    width: 20%;
}
#main > div:nth-child(2) {
    width: 55%;
}
#main > div:nth-child(3) {
    width: 25%;
}

#footer-menu {
    height: 5%;
    display: flex;
    align-items: stretch;
}

