body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}
.top-bener {
    position: fixed;

    background-color: #333;
    color: white;
    width: 100%;
    height: 100px;
    padding: 0px;
}

.footer {
    background-color: #333;
    color: white;
    padding : 20px;
    margin-bottom: 0px;
}
.top-bener-logo {
    background-color: #333;
    color: white;
    padding: 0px;
    display: inline-block;

    
}
#top-logo {
    font-size: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 30px;
    display: inline-block;
    margin-left: 35px;
    text-shadow: 
    0px 0px 4px #ccc,
    0px -5px 4px rgb(255, 255, 255),
    2px -10px 6px rgb(168, 168, 168),
    -2px -15px 11px rgb(63, 63, 63),
    2px -19px 18px rgb(0, 0, 0);
    ;
    font-weight: 1000;
}
#top-logo-s {
    font-size: 15px;
    display: inline-block;
    text-shadow: 
    0px -5px 4px rgb(255, 255, 255),
    -2px -15px 11px rgb(0, 0, 0),
    ;
    font-weight: 1000;
}
#top-logo-sl {
    font-size: 30px;
    display: inline-block;
}
.sigh-in {
    display: block;
    font-size: 80px;
    text-decoration: none;
    width: 120px;
    padding: 10px;
    background-color: #333;
    color: #b52020;
    border: 1px solid #b52020;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}
.sigh-in:hover {
    background-color: #b52020;
    color: #ffffff;
}

#top-sighin {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 85%;
    
}
.main-bener {
    padding-top: 100px;
    margin-top: 50px;
    position: static;
}

.nav {
    background-color: #444;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
}
.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.content {
    padding: 20px;
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
}
th {
    background-color: #f4f4f4;
}

#footer-wb {
    text-align: center;
}
h2 {
    color: #4f4f4f;
    text-align: center;
}
h3 {
    color: #4f4f4f;
    text-align: center;
}
h3:hover {
    color: #b52020;
    text-align: center;
}
.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}
.icon-box {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    transition: background-color 0.3s;
    color: #333;
}
.icon-box:hover {
    background-color: #b6b6b6;
}
i {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
}

#spot-point {
    color: #333;
    text-align: center;
    font-size: 50px;

}

#works-p {
    font-size: 20px;
    font-family: "굴림체";
    font-weight:bold;
    text-align: center;
    line-height: 50px;
    color: #333;
}

.works-movie-2020 {
    text-decoration: none;
    color: #333;
}
.works-cf {
    text-decoration: none;
    color: #333;
    display: inline-block;
}


td.num_01 {
    text-align: center;
}

.nfl_01 {
    text-align: center;

}
